<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Hello !</h1>
<lable th:if="${error != null}" th:text="${error}">error</lable>
<div style="height: 250px;">
<div style="margin-left: 20%;float:left;width:35%;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 20%;"><b>Car Name:</b></td>
            <td><label th:text="${car.carname}">testcar</label></td>
        </tr>
        <tr>
            <td><b>Car Infor: </b></td>
            <td><label th:text="${car.carinfor}">testcar</label></td>
        </tr>
        <tr>
            <td><b>End Time: </b></td>
            <td><label th:text="${car.endtime}">2020:03:01</label></td>
        </tr>
        <tr>
            <td><b>Publisher: </b></td>
            <td><label th:text="${car.publisher}">tester</label></td>
        </tr>
        <tr>
            <td><b>Lowest Price: </b></td>
            <td><label th:text="${car.lowestprice}">tester</label></td>
        </tr>
        <tr>
            <td><b>Winner: </b></td>
            <td th:if="${winnerbid != null}" ><label th:text="${winnerbid.buyer}">tester</label></td>
            <td th:unless="${winnerbid != null}"><label>no winner yet</label></td>
        </tr>
        <tr>
            <td><b>Highest Price: </b></td>
            <td th:if="${winnerbid != null}"><label th:text="${winnerbid.price + '$'}">10000</label></td>
            <td th:unless="${winnerbid != null}"><label>no winner yet</label></td>
        </tr>

    </table>
</div>
<div style="float:left; width: 45%;" id="historybox">
    <label>History</label>
    <table style="width: 70%;background-color: whitesmoke;">
        <tr style="background-color: gray;">
            <td><b>User Name</b></td>
            <td><b>Price</b></td>
            <td><b>Time</b></td>
        </tr>

        <tr th:each="record : ${bidhistory}">
            <td><b th:text="${record.buyer}">testusers</b></td>
            <td><b th:text="${record.price}">200</b></td>
            <td><b th:text="${record.createtime}">2020:20:20</b></td>
        </tr>
    </table>
    <div class="card-footer text-muted bg-transparent" style="border-top:none;">
        <span th:if="${bidhistory.hasPrevious()}">
        <a class="btn btn-outline-success" style="color: #28a745;" th:href="@{'/gethistory/'+${car.id}(page=${bidhistory.number-1},size=${bidhistory.size})}">Previous</a>
        </span>
        <th:block th:each="i: ${#numbers.sequence(0, bidhistory.totalPages - 1)}" th:if="${bidhistory.totalPages != 0}">
            <span th:if="${bidhistory.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${bidhistory.number == i}">
             <a class="btn btn-outline-success" style="color: #28a745;" th:href="@{'/gethistory/'+${car.id}(page=${i},size=${bidhistory.size})}">[[${i}+1]]</a>
            </span>
        </th:block>
        <span th:if="${bidhistory.hasNext()}">
        <a class="btn btn-outline-success" style="color: #28a745;" th:href="@{'/gethistory/'+${car.id}(page=${bidhistory.number+1},size=${bidhistory.size})}">Next</a>
    </span>
    </div>
</div>
</div>
<div>
    <form id="newbidrecord" th:action="@{/cardetail/{id}(id=${car.id})}" th:object="${newbid}" class="form" role="form"
          method="post" style="width: 80%;margin-left: 10%;">

        <div class="form-group">
            <label>User Name</label>
            <input class="form-control form-control-lg rounded-0" id="username" required="true" type="text" maxlength="100" th:field="*{username}"/>
        </div>

        <div>
            <label>Price</label>
            <input class="form-control form-control-lg rounded-0" id="price" type="number" min="0" step="0.01" max="99999" th:field="*{price}"/>
        </div>
        <div align= "center">
            <button  class="btn btn-success btn-lg float-lg-none align-content-lg-center" onclick="return myFunction()">submit</button>
        </div>
    </form>

    <script th:inline="javascript">
    /*<![CDATA[*/
    function myFunction() {
        var lowestprice=[[${car.lowestprice}]];
        var newprice = document.getElementById("price").value;
        if(Number(lowestprice)>=Number(newprice))
        {
            alert("Price should be larger than lowest price");
            return false;
        }
        return true;
    }
    /*]]>*/
    </script>
</div>

</body>
</html>